################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OmurusRecommender/FileContentIndex/ec47d22e-b227-42c3-a98b-5f3ed8fb8c7f.vsidx
/.vs/OmurusRecommender/FileContentIndex/a229e169-b700-489a-95be-6dd07d3cec42.vsidx
*.vsidx
/.vs/
/.vscode/
.vscode/
.vs/

